spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${url}
    username: ${user}
    password: ${password}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret:
    key: ${/prod/spaghetti-app/jwt/secret}

aws:
  paramstore:
    enabled: true
    prefix: /prod/spaghetti-app
    name: spaghetti-app

cloud:
  aws:
    region:
      static: ap-northeast-2 # AWS 리전
    credentials:
      instanceProfile: true # EC2 인스턴스 프로파일 사용
