spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${db/url}
    username: ${db/user}
    password: ${db/password}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

jwt:
  secret:
    key: ${jwt_secret}  # AWS Parameter Store에서 불러온 값

aws:
  param-store:
    enabled: true
    prefix: /prod/spaghetti-app  # 모든 키에 공통적으로 적용되는 경로 접두사
    default-context: application  # 기본 context, 여러 프로파일에서 공통적으로 사용
    name: spaghetti-app  # 프로파일 별로 구분할 수 있는 이름

cloud:
  aws:
    region:
      static: ap-northeast-2  # AWS 리전 설정
    credentials:
      use-instance-profile: true  # EC2 인스턴스 프로파일 사용
