spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${/db/url}
    username: ${/db/user}
    password: ${/db/password}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret:
    key: ${/jwt/secret}

aws:
  paramstore:
    enabled: true
    prefix: /prod/spaghetti-app