name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
      - name: Build jar with Gradle
        run: ./gradlew bootJar
      - name: Copy jar to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ec2-user
          key: ${{ secrets.SSH_KEY }}
          port: 22
          source: "./build/libs/SpaghettiCodingClub-0.0.1-SNAPSHOT.jar"
          target: "~"

      - name: SSH Commands
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ec2-user
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script_stop: true
          script: |
            # Gently stop the specific Java process
            pkill -f 'SpaghettiCodingClub-0.0.1-SNAPSHOT.jar'
            # Wait for a few seconds to let the process terminate gracefully
            sleep 10
            # Ensure the jar has execute permissions
            chmod +x SpaghettiCodingClub-0.0.1-SNAPSHOT.jar
            # Start the new Java application
            nohup java -jar SpaghettiCodingClub-0.0.1-SNAPSHOT.jar > app.log 2>&1 &
